body {
  background-color: #fafaee;
  color: #776e65;
}
.between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul {
  margin: 0;
  padding: 0;
}
h1 {
  color: #776e65;
  font-size: 64px;
  font-weight: 900;
}
.block {
  background-color: #cdc1b4;
  width: 11.25em;
  height: 11.25em;
  display: inline-block;
  vertical-align: top;
  padding: 1em 0 0 1em;
  background-clip: content-box;
}
